<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <h1>HEEEEE</h1>
    <img src = "{% static 'images/ppp.jpg'%}">
    <iframe src="https://www.javatpoint.com/" height="300" width="400"></iframe>    

</body> 
</html>