<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block title %}
    {% endblock %}
</head>
<body>
    <h1>My Site</h1>
   
    <a href = "{% url 'home' %}"> Home</a>/
    <a href = "{% url 'signup' %}">SignUP</a>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>