body{
    
    background-image: url("https://images.unsplash.com/photo-1575110201423-cd3910c87548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
    color: red;
}
h1{
    color:red;

}